/* layout */
#contents {height: 100vh; display: flex;}
#section1 {
    position: fixed; 
    left: 0; top: 0;
    width: 100%; height: 100vh;
    background: #ccc;
    overflow: hidden;
    transform-origin: 100% 100%;
}
#section1 > div:nth-child(1) {
    float: left; width: 70%; height: 100vh;
    background: wheat;
}
#section1 > div:nth-child(2) {
    float: left; width: 30%; height: 50vh;
    background: rosybrown;
}
#section1 > div:nth-child(3) {
    float: left; width: 30%; height: 50vh;
    background:tan;
}

#section2 {
    position: fixed; 
    left: 100%; top: 0;
    width: 100%; height: 100vh;
    background: #ccc;
    overflow: hidden;
    transform-origin: 0% 50%;
}
#section2 > div:nth-child(1) {
    float: right; width: 70%; height: 100vh;
    background:teal;
}
#section2 > div:nth-child(2) {
    float: left; width: 30%; height: 50vh;
    background:thistle;
}
#section2 > div:nth-child(3) {
    float: left; width: 30%; height: 50vh;
    background:tomato;
}

#section3 {
    position: fixed; 
    left: 100%; top: 0;
    width: 100%; height: 100vh;
    background: #ccc;
    overflow: hidden;
    transform-origin: 0% 50%;
}
#section3 > div:nth-child(1) {
    float: left; width: 70%; height: 100vh;
    background:yellowgreen;
}
#section3 > div:nth-child(2) {
    float: left; width: 30%; height: 50vh;
    background: indianred;
}
#section3 > div:nth-child(3) {
    float: left; width: 30%; height: 50vh;
    background: orchid;
}

#section4 {
    position: fixed; 
    left: 100%; top: 0;
    width: 100vw; height: 100vh;
    background: #ccc;
    overflow: hidden;
    transform-origin: 0% 50%;
}
#section4 > div:nth-child(1) {
    float: left; width: 70%; height: 100vh;
    background: red;
}
#section4 > div:nth-child(2) {
    float: left; width: 30%; height: 50vh;
    background: violet;
}
#section4 > div:nth-child(3) {
    float: left; width: 30%; height: 50vh;
    background: chocolate;
}

#section5 {
    position: fixed; 
    left: 100%; top: 100%;
    width: 100%; height: 100vh;
    background: #ccc;
    overflow: hidden;
    transform-origin: 0% 0%;
}
#section5 > div:nth-child(1) {
    float: right; width: 70%; height: 100vh;
    background: blue;
}
#section5 > div:nth-child(2) {
    float: left; width: 30%; height: 50vh;
    background: purple;
}
#section5 > div:nth-child(3) {
    float: left; width: 30%; height: 50vh;
    background: black;
}

#section6 {
    position: fixed; 
    left: 0; top: 0;
    width: 100%; height: 100vh;
    background: #ccc;
    overflow: hidden;
    transform-origin: 0 0;
}
#section6 > div:nth-child(1) {
    float: left; width: 70%; height: 100vh;
    background: goldenrod;
}
#section6 > div:nth-child(2) {
    float: left; width: 30%; height: 50vh;
    background: greenyellow;
}
#section6 > div:nth-child(3) {
    float: left; width: 30%; height: 50vh;
    background: darkcyan;
}