/* font */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 500;
    src: local('Spoqa Han Sans Medium'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}





/* sec1 */

.sec1 {
    width: 100%; height: 100%;
    border: 2px solid #000;
    box-sizing: border-box;
}
.sec2 {
    width: 100%; height: 100%;
    border: 2px solid #000;
    box-sizing: border-box;
}
.sec3 {
    width: 100%; height: 100%;
    mix-blend-mode: difference;
    border: 2px solid #000;
}
.sec4 {
    width: 100%; height: 100%;
    border: 2px solid #000;}
.sec5 {
    mix-blend-mode: difference;
}

.sec7 {
    mix-blend-mode: difference;
    border: 2px solid #000;}
.sec8 {
    width: 100%; height: 100%;
    mix-blend-mode: difference;
    border: 2px solid #000;
}
.sec9 {
    width: 100%; height: 100%;
    mix-blend-mode: difference;
    border: 2px solid #000;
}


.text-wrap h1 {
    position: fixed;
    left: 20px; top: 20px;
    font-size: 4vw;   
    color: #fff;
}


/* sec1 */
.sec1 {
    display: flex;
}
.sec1 .box1 {
    position: relative;
    flex: 0 0 60%;
    height: 100vh;
}
.sec1 .box1 h1 {
    padding: 120px;
    padding-left: 120px;
    font-size: 50px;
    text-transform: uppercase;
}
.sec1 .box1 .desc {
    position: absolute;
    right: 120px; top: 120px;
    width: 40%;
    font-size: 20px;
    line-height: 1.5;
}
.sec1 .box1 .desc2 {
    position: absolute;
    left: 120px; bottom: 150px;
    width: 50%;
    font-size: 70px;
    line-height: 1.3;
    font-weight: 100;
    color: #f11b1b;
}
.sec1 .box1 .desc2 > span {
    font-weight: 700;
}

.sec1 .box1 > div {
    position: relative;
    text-align: center;
}
.sec1 .box1 > div a {
    position: absolute;
    right: 150px; top: 620px;
    color:#fff;
    background: #f11b1b;
    padding-left: 0px;
    font-size: 50px;
    width: 170px; height: 250px;
}


.sec1 .box2 {
    flex: 0 0 40%;
}
.sec1 .box2-1 {
    position: relative;
    display: flex;
    height: 70vh;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
}
.box2-1Top {
    display: flex;
    width: 100%;
    margin: 100px;
}
.box2-1Top p {
    flex: 1 1 50%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
}
.box2-1Top p:nth-child(2) {
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
}
.box2-1Bottom {
    position: absolute;
    left: 100px; bottom: 90px;
    font-size: 2vw;
    font-weight: 500;
}

.sec1 .box2-2 {
    height: 30vh;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    display: flex;
    justify-content: space-around;
    padding: 15px 50px;
    font-size: 1vw;
}
.sec1 .box2-2 > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sec1 .box2-2 .menu a {
    border: 2px solid #000;
    height: 42px;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    text-align: center;
}
.scroll {position: relative;}
.scroll a {
    color: #000;
}

/* .scroll a span {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 70px;
    height: 100px;
    margin-left: -55px;
    padding-top: 100px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
.scroll a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box;
} */

/* sec2 */
.sec2 {
    display: flex;
}
.sec2 .box1 {
    position: relative;
    flex: 0 0 90%;
    transform: rotate(90deg);
    height: 60vw; width: 90vh;
}
.sec2 .box1 h1 {
    padding: 150px 40px 40px 40px;
    font-size: 50px;
    text-transform: uppercase;
}
.sec2 .box1 .desc {
    position: absolute;
    right: -4vw; top: 6vw;
    display: flex;}
.sec7 .box1 {
    flex: 0 0 60%;
    height: 100vh;
}
.sec7 .box1 h1 {
    padding: 120px;
    padding-left: 120px;
    font-size: 50px;
    text-transform: uppercase;
}
.sec7 .box1 .desc {
    position: absolute;
    right: 175px; top: 120px;
    width: 30%;
    font-size: 20px;
    line-height: 1.5;
}
.sec7 .box1 .desc2 {
    position: absolute;
    left: 120px; bottom: 100px;
    width: 50%;
    font-size: 110px;
    line-height: 1.3;
    font-weight: 700;
}

.sec7 .box1 > div {
    position: relative;
}
.sec7 .box1 > div a {
    position: absolute;
    right: 190px; top: 650px;
    display: inline-block;
    color:#000;
    background: #fff;
    text-align: center;
    font-size: 50px;
    width: 160px; height: 250px;
}


.sec7 .box2 {
    flex: 0 0 40%;
    
}
.sec7 .box2-1 {
    position: relative;
    display: flex;
    height: 70vh;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
}
.box2-1Top {
    display: flex;
    width: 100%;
    margin: 100px;
}
.box2-1Top p {
    flex: 1 1 50%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
}
.box2-1Top p:nth-child(2) {
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
}
.box2-1Bottom {
    position: absolute;
    left: 100px; bottom: 90px;
    font-size: 2vw;
    font-weight: 500;
}

.sec7 .box2-2 {
    height: 27.6vh;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    display: flex;
    justify-content: space-around;
    padding: 15px 50px;
    font-size: 1vw;
}
.sec7 .box2-2 > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sec7 .box2-2 .menu a {
    border: 2px solid #000;
    height: 42px;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    text-align: center;
}

/* sec8 */
.sec8 {
}
.sec8 .box1 {
    position: relative;
    transform: rotate(-90deg);
    height: 100vh; width: 50vw;
    bottom: -1100px;
}
.sec8 .box1 h1 {
    padding: 150px 40px 40px 40px;
    font-size: 50px;
    text-transform: uppercase;
}
.sec8 .box1 .desc {
    position: absolute;
    right: -40px; top: 150px;
    width: 40%;
    font-size: 20px;
    line-height: 1.5;
}
.sec8 .box1 .desc2 {
    position: absolute;
    left: 40px; bottom: 90px;
    width: 40%;
    font-weight: 700;
    font-size: 110px;
    line-height: 1.3;
}
.sec8 .box1 .desc2 span {
    font-weight: 100;
}
.sec8 .box1 > div {
    position: relative;
}
.sec8 .box1 > div a {
    position: absolute;
    right: -20px; top: 720px;
    display: inline-block;
    color:#000;
    background: #fff;
    text-align: center;
    font-size: 50px;
    width: 180px; height: 250px;
}

.sec8 .box2 {
    position: relative;
    transform: rotate(-90deg);
}
.sec8 .box2-1 {
    position: absolute;
    left: 80%; bottom: -232px;
    height: 67vh; width: 30vw;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

.sec8 .box2-1 .box2-1Bottom {
    position: absolute;
    left: 100px; top: 700px;
}


.sec8 .box2-2 {
    position: absolute;
    left: 80%; bottom: -663px;
    height: 20vh; width: 32.5vw;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}
.sec8 .box2-2 {
    height: 30vh;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    display: flex;
    justify-content: space-around;
    padding: 30px 50px 0px 50px;
    font-size: 1vw;
}
.sec8 .box2-2 > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sec8 .box2-2 .menu a {
    border: 2px solid #000;
    height: 42px;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    text-align: center;
}


/* sec9 */

.sec9 {
    display: flex;
}
.sec9 .box1 {
    position: relative;
    flex: 0 0 60%;
    height: 100vh;
}
.sec9 .box1 h1 {
    padding: 120px;
    padding-left: 120px;
    font-size: 50px;
    text-transform: uppercase;
}
.sec9 .box1 .desc {
    position: absolute;
    right: 120px; top: 120px;
    width: 40%;
    font-size: 20px;
    line-height: 1.5;
}
.sec9 .box1 .desc2 {
    position: absolute;
    left: 120px; bottom: 150px;
    width: 50%;
    font-size: 110px;
    line-height: 1.3;
    font-weight: 700;
}
.sec9 .box1 .desc2 > span {
    font-weight: 700;
}

.sec9 .box1 > div {
    position: relative;
}
.sec9 .box1 > div a {
    position: absolute;
    right: 190px; top: 650px;
    display: inline-block;
    color:#000;
    background: #fff;
    text-align: center;
    font-size: 50px;
    width: 180px; height: 250px;
}


.sec9 .box2 {
    flex: 0 0 40%;
}
.sec9 .box2-1 {
    position: relative;
    display: flex;
    height: 70vh;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
}
.box2-1Top {
    display: flex;
    width: 100%;
    margin: 100px;
}
.box2-1Top p {
    flex: 1 1 50%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
}
.box2-1Top p:nth-child(2) {
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
}
.box2-1Bottom {
    position: absolute;
    left: 100px; bottom: 90px;
    font-size: 2vw;
    font-weight: 500;
}

.sec9 .box2-2 {
    height: 27.5vh;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    display: flex;
    justify-content: space-around;
    padding: 15px 50px;
    font-size: 1vw;
}
.sec9 .box2-2 > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sec9 .box2-2 .menu a {
    border: 2px solid #000;
    height: 42px;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    text-align: center;
}