/* 폰트 */
@font-face {
    font-family: "Saol Display Regular";
    src: url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot"); 
    src: url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot?#iefix") format("embedded-opentype"), 
        url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff2") format("woff2"), 
        url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff") format("woff"), 
        url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.ttf") format("truetype"), 
        url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.svg#Saol Display Regular") format("svg");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 전체영역 */
* {
    background: #000;
    color: #fff;
}
#wrap {
    height: 100vh;
    overflow: hidden;
}


/* 로딩 */
body {
    height: 100vh;
    overflow: hidden;
}

body.active {
    height: auto;
    overflow: auto;
}

#loading {
    position: fixed;
    left: 0; top: 0;
    z-index: 9999;
    width: 100%; height: 100vh;
}
#loading .l_box {
    width: 100%; height: 20%;
    position: absolute;
    background: #333;
}
#loading .lb1 {
    left: 0%; top: 0%;
}
#loading .lb2 {
    left: 0%; top: 20%;
}
#loading .lb3 {
    left: 0%; top: 40%;
}
#loading .lb4 {
    left: 0%; top: 60%;
}
#loading .lb5 {
    left: 0%; top: 80%;
}



/* 헤더영역 */
#header {
    border-bottom: 1px solid #777;
    height: 80px;
    transform: translateY(-100px);
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 50px;
    /* padding-top: 20px; */
    position: relative;
}
/* .header::before {
    content: "";
    left: 0; top: 0;
    width: 100%; height: 1px;
    position: absolute;
} */

.h_left {
    margin-left: 0px;
    font-size: 20px;
    position: relative;
    margin-top: 25px;
}
.h_left::before {
    content: "";
    top: 7px; left: -12px;
    position: absolute;
    width: 7px; height: 7px;
    background: #fff;
    border-radius: 50%;
}
.h_left::after {
    content: "";
    top: 17px; left: -12px;
    position: absolute;
    width: 7px; height: 7px;
    background: #fff;
    border-radius: 50%;
}

.h_center {
    font-family: "Saol Display Regular";
    font-size: 35px;
    margin-top: 15px;
}

.h_right {
    margin-right: 0px;
    margin-top: 30px;
    width: 40px; height: 40px;
    position: relative;
    right: 0;
    transition: all 1s ease-in-out;
}
.h_right.click {
    right: 130px;
}
.h_right a::before {
    content: "";
    position: absolute;
    left: 20px; top: 0;
    width: 8px; height: 8px;
    background: #fff;
    box-shadow: 0 12px 0 #fff;
}
.h_right a::after {
    content: "";
    position: absolute;
    right: 0; top: 0;
    width: 8px; height: 8px;
    background: #fff;
    box-shadow: 0 12px 0 #fff;
}

/* 헤더메뉴 */
.header_menu {
    position: fixed;
    right: -500px; top: 85px;
    width: 200px; height: 85vh;
    font-size: 40px;
    transition: all 0.8s ease-in-out;
}
.header_menu.click {
    right: 0;
}
.header_menu ul {
}
.header_menu ul li {
}



/* container */
.container {
    width: 70%;
    margin: 0 auto;
}

/* main */
#mainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.mainText {
    font-family: "Saol Display Regular";
    font-size: 9vw;
    line-height: 0.85;
}
.mainText .text {
}

/* 한번에 나타나기 */



/* 한글자씩 나타나기 */
.mainText .text {
}
.mainText .text span {
    transform: translate(0, 50px);
    opacity: 0;
    display: inline-block;
    transition: all 1s cubic-bezier(0.67,-0.38, 0, 1.09);
    animation: text 1s ease;
}

/* .mainText .text.show {
    transform: translateY(0);
    opacity: 1;
} */

.mainText.show .text span {
    transform: translate(0, 0);
    opacity: 1;
}


.mainText .split1 span:nth-child(3) {width: 30px;}



.mainText .split2 span:nth-child(7) {width: 30px;}


.mainText .split4 span:nth-child(4) {width: 30px;}
.mainText .split4 span:nth-child(8) {width: 30px;}


/* footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0 50px;
    font-size: 18px;
    font-family: 'S-CoreDream';
    font-weight: 100;
    border-top: 1px solid #777;
    transform: translateY(100px);
}
.f_left {
    flex: 0 0 40%;
    border-right: 1px solid #777;

}
.f_left ul {
    display: flex;
}
.f_left ul li {
    margin: 20px;
}
.f_left ul li:nth-child(1) {
    color: #888;
}


.f_center {
    flex: 0 0 20%;
    border-right: 1px solid #777;
}
.f_center ul {
    display: flex;
}
.f_center ul li {
    margin: 20px;
}
.f_center ul li:nth-child(1) {
    color: #888;
}


.f_right {
    flex: 0 0 40%;
}
.f_right ul {
    display: flex;
    justify-content: flex-end;
}
.f_right ul li {
    margin: 20px;
}
.f_right ul li:nth-child(1) {
    color: #888;
}

.img {
    width: 100%;
    position: fixed;
    left: 0; top: 0;
    z-index: -99999;
}


/* about */
#header_about {
    border-bottom: 1px solid #777;
    height: 80px;
    transform: translateY(-100px);
}


#about {
    color: #fff;
}
.about .title {
    margin: 200px 0;
}
.about h1 {
    font-family: "Saol Display Regular";
    font-weight: 100;
    font-size: 180px;
    line-height: 0.9;
}
.about h1 span {
    background: none;
}

.title h1 span {
    transform: translate(0, 50px);
    opacity: 0;
    display: inline-block;
    transition: all 1s cubic-bezier(0.67,-0.38, 0, 1.09);
    animation: text 1s ease;
}


.cont1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 500px;
}

.cont1 .cont_left img {
    width: 100%;
    margin-bottom: 50px;
    opacity: 0;
}
.cont1.active .cont_left img {
    opacity: 1;
}
.cont1 .cont_right {
    width: 60%;
}
.cont1 .cont_right h3 {
    margin-bottom: 20px;
    font-size: 30px;
}
.cont1 .cont_right p {
    font-size: 18px;
}

.cont2 {
    display: flex;
    margin-bottom: 500px;
}
.cont2 .cont_left {
    flex: 0 0 60%;
}

.cont2 .cont_right {
    flex: 0 0 40%;
}

.cont2 .cont_right h3 {
    margin-bottom: 20px;
    font-size: 30px;
}
.cont2 .cont_right p {
    font-size: 18px;
}

.cont3 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 500px;
}
.cont3 .cont_left {
    flex: 0 0 60%;
    margin-left: 30px;
}
.cont3 .cont_left img {
    width: 100%;
}
.cont3 .cont_right {
    flex: 0 0 40%;
}

.cont3 .cont_right h3 {
    margin-bottom: 20px;
    font-size: 30px;
}
.cont3 .cont_right p {
    font-size: 18px;
}


.cont4 .cont_left img {
    width: 100%;
    margin-bottom: 50px;
} 

.cont4 .cont_right {

}
.cont4 .cont_right h3 {
    margin-bottom: 20px;
    font-size: 30px;
}
.cont4 .cont_right p {
    font-size: 18px;
}


#about_footer {
    height: 100vh;
    border: none;
}