/* 폰트 */
@font-face {
    font-family: "Saol Display Regular";
    src: url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot"); 
    src: url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot?#iefix") format("embedded-opentype"), 
        url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff2") format("woff2"), 
        url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff") format("woff"), 
        url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.ttf") format("truetype"), 
        url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.svg#Saol Display Regular") format("svg");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 전체영역 */
* {
    background: #000;
    color: #fff;
}
#wrap {
    height: 100vh;
    overflow: hidden;
}


/* 로딩 */
body {
    height: 100vh;
    overflow: hidden;
}

body.active {
    height: auto;
    overflow: auto;
}

#loading {
    position: fixed;
    left: 0; top: 0;
    z-index: 9999;
    width: 100%; height: 100vh;
}
#loading .l_box {
    width: 100%; height: 20%;
    position: absolute;
    background: #333;
}
#loading .lb1 {
    left: 0%; top: 0%;
}
#loading .lb2 {
    left: 0%; top: 20%;
}
#loading .lb3 {
    left: 0%; top: 40%;
}
#loading .lb4 {
    left: 0%; top: 60%;
}
#loading .lb5 {
    left: 0%; top: 80%;
}



/* 헤더영역 */
#header {
    border-bottom: 1px solid #777;
    height: 80px;
    transform: translateY(-100px);
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 50px;
    padding-top: 20px;
    position: relative;
}
/* .header::before {
    content: "";
    left: 0; top: 0;
    width: 100%; height: 1px;
    position: absolute;
} */

.h_left {
    margin-left: 0px;
    font-size: 20px;
    position: relative;
}
.h_left::before {
    content: "";
    top: 7px; left: -12px;
    position: absolute;
    width: 7px; height: 7px;
    background: #fff;
    border-radius: 50%;
}
.h_left::after {
    content: "";
    top: 17px; left: -12px;
    position: absolute;
    width: 7px; height: 7px;
    background: #fff;
    border-radius: 50%;
}

.h_center {
    font-family: "Saol Display Regular";
    font-size: 35px;
}

.h_right {
    margin-right: 0px;
}
.right_box1 {
    width: 8px; height: 8px;
    background: #fff;
    border-radius: 1px;
    margin-bottom: 5px;
    position: relative;
}
.right_box1::before {
    content: "";
    top: 0; left: 13px;
    width: 8px; height: 8px;
    background: #fff;
    position: absolute;
    border-radius: 1px;
}
.right_box2 {
    width: 8px; height: 8px;
    background: #fff;
    border-radius: 1px;
    position: relative;
}
.right_box2::before {
    content: "";
    top: 0; left: 13px;
    width: 8px; height: 8px;
    background: #fff;
    position: absolute;
    border-radius: 1px;
}

/* container */
.container {
    width: 70%;
    margin: 0 auto;
}

/* main */
#mainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 170px;
    height: 50vh;
}
.mainText {
    font-family: "Saol Display Regular";
    font-size: 9vw;
    line-height: 0.85;
}
.mainText .text {
}

/* 한번에 나타나기 */



/* 한글자씩 나타나기 */
.mainText .text {
}
.mainText .text span {
    transform: translate(0, 50px);
    opacity: 0;
    display: inline-block;
    transition: all 1s cubic-bezier(0.67,-0.38, 0, 1.09);
    animation: text 1s ease;
}

/* .mainText .text.show {
    transform: translateY(0);
    opacity: 1;
} */

.mainText.show .text span {
    transform: translate(0, 0);
    opacity: 1;
}

.mainText .split1 span:nth-child(1) {transition-delay: 0.05s;}
.mainText .split1 span:nth-child(2) {transition-delay: 0.10s;}
.mainText .split1 span:nth-child(3) {transition-delay: 0.15s;}
.mainText .split1 span:nth-child(4) {transition-delay: 0.20s;}
.mainText .split1 span:nth-child(5) {transition-delay: 0.25s;}
.mainText .split1 span:nth-child(6) {transition-delay: 0.30s;}
.mainText .split1 span:nth-child(7) {transition-delay: 0.35s;}
.mainText .split1 span:nth-child(8) {transition-delay: 0.40s;}
.mainText .split1 span:nth-child(9) {transition-delay: 0.45s;}
.mainText .split1 span:nth-child(10) {transition-delay: 0.50s;}
.mainText .split1 span:nth-child(11) {transition-delay: 0.55s;}
.mainText .split1 span:nth-child(12) {transition-delay: 0.60s;}
.mainText .split1 span:nth-child(13) {transition-delay: 0.65s;}

.mainText .split2 span:nth-child(1) {transition-delay: 0.75s;}
.mainText .split2 span:nth-child(2) {transition-delay: 0.80s;}
.mainText .split2 span:nth-child(3) {transition-delay: 0.95s;}
.mainText .split2 span:nth-child(4) {transition-delay: 1s;}
.mainText .split2 span:nth-child(5) {transition-delay: 1.05s;}
.mainText .split2 span:nth-child(6) {transition-delay: 1.10s;}
.mainText .split2 span:nth-child(7) {transition-delay: 1.15s;}
.mainText .split2 span:nth-child(8) {transition-delay: 1.20s;}
.mainText .split2 span:nth-child(9) {transition-delay: 1.25s;}
.mainText .split2 span:nth-child(10) {transition-delay: 1.30s;}
.mainText .split2 span:nth-child(11) {transition-delay: 1.35s;}
.mainText .split2 span:nth-child(12) {transition-delay: 1.40s;}
.mainText .split2 span:nth-child(13) {transition-delay: 1.45s;}

.mainText .split3 span:nth-child(1) {transition-delay: 1.50s;}
.mainText .split3 span:nth-child(2) {transition-delay: 1.55s;}
.mainText .split3 span:nth-child(3) {transition-delay: 1.60s;}
.mainText .split3 span:nth-child(4) {transition-delay: 1.65s;}
.mainText .split3 span:nth-child(5) {transition-delay: 1.70s;}
.mainText .split3 span:nth-child(6) {transition-delay: 1.75s;}
.mainText .split3 span:nth-child(7) {transition-delay: 1.80s;}
.mainText .split3 span:nth-child(8) {transition-delay: 1.85s;}
.mainText .split3 span:nth-child(9) {transition-delay: 1.90s;}
.mainText .split3 span:nth-child(10) {transition-delay: 1.95s;}
.mainText .split3 span:nth-child(11) {transition-delay: 2s;}
.mainText .split3 span:nth-child(12) {transition-delay: 2.05s;}
.mainText .split3 span:nth-child(13) {transition-delay: 2.10s;}

.mainText .split4 span:nth-child(1) {transition-delay: 2.15s;}
.mainText .split4 span:nth-child(2) {transition-delay: 2.20s;}
.mainText .split4 span:nth-child(3) {transition-delay: 2.25s;}
.mainText .split4 span:nth-child(4) {transition-delay: 2.30s;}
.mainText .split4 span:nth-child(5) {transition-delay: 2.35s;}
.mainText .split4 span:nth-child(6) {transition-delay: 2.40s;}
.mainText .split4 span:nth-child(7) {transition-delay: 2.55s;}
.mainText .split4 span:nth-child(8) {transition-delay: 2.60s;}
.mainText .split4 span:nth-child(9) {transition-delay: 2.65s;}
.mainText .split4 span:nth-child(10) {transition-delay: 2.70s;}
.mainText .split4 span:nth-child(11) {transition-delay: 2.75s;}
.mainText .split4 span:nth-child(12) {transition-delay: 2.80s;}
.mainText .split4 span:nth-child(13) {transition-delay: 2.85s;}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px 0 50px;
    font-size: 18px;
    font-family: 'S-CoreDream';
    font-weight: 100;
    border-top: 1px solid #777;
    transform: translateY(100px);
}
.f_left {
    flex: 0 0 40%;
    border-right: 1px solid #777;

}
.f_left ul {
    display: flex;
}
.f_left ul li {
    margin: 20px;
}
.f_left ul li:nth-child(1) {
    color: #888;
}


.f_center {
    flex: 0 0 20%;
    border-right: 1px solid #777;
}
.f_center ul {
    display: flex;
}
.f_center ul li {
    margin: 20px;
}
.f_center ul li:nth-child(1) {
    color: #888;
}


.f_right {
    flex: 0 0 40%;
}
.f_right ul {
    display: flex;
    justify-content: flex-end;
}
.f_right ul li {
    margin: 20px;
}
.f_right ul li:nth-child(1) {
    color: #888;
}

.img {
    width: 100%;
    position: fixed;
    left: 0; top: 0;
    z-index: -99999;
}



/* 미디어쿼리 */
@media (max-width: 1024px){

}